
form{

    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: powderblue;
}


.inputstyle{
    width: 75%;
    padding: 10px 12px;
    box-sizing: border-box;
    margin: 9px;
}

.otherinputs{
    margin: 9px;
}

#btn{
    background-color: black;
    color: white;
    padding: 5px 5px;
    width: 20%;
}
.img-container {
    text-align: center;
    display: block;
}