
form{

    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: powderblue;
}
.navlinks{

    list-style-type: none;
    background-color: powderblue;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    padding: 15px 15px;
    text-decoration: none;
    color: white;
    display: block;

}

nav li a:hover{
    background-color: cornflowerblue;
}

.inputstyle{
    width: 75%;
    padding: 10px 12px;
    box-sizing: border-box;
    margin: 9px;
}

.otherinputs{
    margin: 9px;
}

#btn{
    background-color: black;
    color: white;
    padding: 5px 5px;
    width: 10%;
}
.img-container {
    text-align: center;
    display: block;
}
.img-btn{
    float: right;
    width: 20%;
    background-color: black;
    color: white;
    padding: 5px 5px;
}